@font-face {
  font-family: "Roboto-Regular";
  src: url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*------------------- Fonts --------------------------*/
/*------------------- Colors --------------------------*/
/*------------------- Responsive --------------------------*/
@font-face {
  font-family: "Roboto-Regular";
  src: url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*------------------- Fonts --------------------------*/
/*------------------- Colors --------------------------*/
/*------------------- Responsive --------------------------*/
body {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
}

strong {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: bold;
}

/* Generic focus style for all common interactive elements */
a:focus,
a:focus-visible,
button:focus,
button:focus-visible,
input:focus,
input:focus-visible,
select:focus,
select:focus-visible,
textarea:focus,
textarea:focus-visible,
[tabindex]:focus,
[tabindex]:focus-visible,
summary:focus,
summary:focus-visible,
details:focus,
details:focus-visible {
  outline: 3px solid #1060AA !important;
  outline-offset: 2px;
  border-radius: 4px;
  /* optional */
}

/* Override Bootstrap components that suppress outlines */
.btn:focus,
.btn:focus-visible,
.accordion-button:focus,
.accordion-button:focus-visible,
.nav-link:focus,
.nav-link:focus-visible,
.dropdown-item:focus,
.dropdown-item:focus-visible,
.page-link:focus,
.page-link:focus-visible,
.form-control:focus,
.form-select:focus,
.form-check-input:focus,
.form-range:focus,
.list-group-item-action:focus,
.list-group-item-action:focus-visible {
  box-shadow: none !important;
  /* disable Bootstrap glow */
  outline: 3px solid #1060AA !important;
  outline-offset: 2px;
}

body {
  margin: 0;
  background-image: url("../../images/solar-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  background: linear-gradient(rgba(16, 96, 170, 0.86), rgba(16, 96, 170, 0.86)), url("../../images/dashboard/Header_bg.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0px;
  width: 100%;
  height: 6px;
  background-color: #007b43;
}
header .logo {
  display: flex;
  align-items: center;
  border-radius: 5px;
}
header .logo img {
  width: 170px;
}
@media (max-width: 767px) {
  header .logo img {
    width: 100px;
  }
}
header .right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .right-section .user-info p {
  color: #fff;
  font-size: 13px;
  margin: 0px;
  text-align: right;
}
@media (max-width: 767px) {
  header .right-section .user-info p {
    font-size: 10px;
  }
}
header .right-section .user-info p strong {
  font-weight: 700;
  font-size: 12px;
}
@media (max-width: 767px) {
  header .right-section .user-info p strong {
    font-size: 10px;
  }
}
header .right-section .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .right-section .icons i {
  color: #fff;
}
header .right-section .icons .fa-user {
  background: linear-gradient(to bottom, #80c3ff, #0a68bb);
  padding: 10px;
  border-radius: 50%;
}
header .right-section .icons .dropdown {
  position: relative;
}
header .right-section .icons .dropdown .dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}
header .right-section .icons .dropdown .dropdown-toggle:focus-visible {
  outline: 3px solid #ffffff !important;
  outline-offset: 2px;
  border-radius: 4px;
}
header .right-section .icons .dropdown .dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 8px 0;
  margin: 0;
  min-width: 120px;
  display: none;
  z-index: 10;
}
header .right-section .icons .dropdown .dropdown-menu li a {
  display: block;
  padding: 8px 15px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}
header .right-section .icons .dropdown .dropdown-menu li a:hover {
  background: #f2f2f2;
}
header .right-section .icons .dropdown.open .dropdown-menu {
  display: block;
}

.main {
  max-height: calc(100vh - 90px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto 240px;
  gap: 15px;
  padding: 0px 10px 0px 10px;
}
@media (max-width: 767px) {
  .main {
    display: block;
    max-height: -moz-max-content;
    max-height: max-content;
  }
}
.main .left {
  max-height: calc(100vh - 90px);
}
@media (max-width: 767px) {
  .main .left {
    max-height: -moz-max-content;
    max-height: max-content;
  }
}
.main .left .accordion-item {
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.17);
  border-radius: 10px;
}
.main .left .accordion-item .accordion-body {
  padding: 12px;
}
.main .left .accordion-item .accordion-body .list-group li {
  list-style-type: none;
  padding: 0px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #312e2f;
}
.main .left .accordion-item .accordion-body .list-group li input {
  width: 75px;
  border: 1.5px solid #1060AA;
  border-radius: 5px;
  padding: 5px;
  height: 20px;
  font-size: 13px;
  font-weight: 700;
  text-align: right;
}
.main .left .accordion-item .accordion-body .list-group li span {
  font-weight: normal;
}
.main .left .accordion-item .accordion-body .list-group li:last-child {
  background-color: #C9FFD3;
  padding: 7px 10px;
  border-radius: 5px;
}
.main .left .accordion-item .accordion-body .list-group.EMI li:last-child {
  background-color: #fff !important;
  padding: 0px !important;
}
.main .left .accordion-item .accordion-button {
  background: #fff;
  color: #1060AA;
  font-weight: 700;
  border-radius: 10px 10px 0px 0px;
  padding: 12px;
  letter-spacing: 0.3px;
}
.main .left .accordion-item .accordion-button::after {
  color: #1060AA;
}
.main .left .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #1060aa;
}
.main .left .accordion-item .accordion-button .status {
  color: #00b050;
}
.main .left .consumer-details {
  display: grid;
  grid-template-columns: auto auto auto auto 200px;
}
@media (max-width: 767px) {
  .main .left .consumer-details {
    display: block;
  }
}
.main .left .consumer-details div {
  display: grid;
  align-content: start;
}
@media (max-width: 767px) {
  .main .left .consumer-details div {
    display: flex;
    justify-content: space-between;
  }
  .main .left .consumer-details div:last-child span {
    text-align: end;
  }
}
.main .left .consumer-details strong {
  color: #545253;
}
.main .right {
  border-radius: 10px;
  background: linear-gradient(174deg, var(--Blue, #1060AA) 2.56%, var(--Green, #10AA2D) 92.99%);
  position: sticky;
  top: 0px;
}

.consumer-card {
  padding: 10px;
  height: 170px;
  border: 1px solid #ddd;
}

.consumer-card table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.consumer-card td {
  padding: 2px 5px;
}

.consumer-card td strong {
  font-weight: bold;
}

.consumer-card hr {
  margin: 5px 0;
}

.consumer-card .status {
  color: green;
  font-size: 14px;
}

.consumer-card .arrow {
  font-size: 16px;
  cursor: pointer;
}

.solar-detailcard,
.monthly-billsaving-card,
.excess-card,
.emi-card {
  height: 340px;
  padding: 10px;
  margin: 5px 0;
}

.solar-detailcard table,
.monthly-billsaving-card table,
.excess-card table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.edit-btn {
  background: #e6f0ff;
  border: none;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.highlight-green {
  background: #d9f7d9;
  padding: 8px;
  font-weight: bold;
  margin-top: 8px;
}

.summary-cards {
  padding: 15px;
  border-radius: 10px;
}

.summary-top {
  background: #C9FFD3;
  color: white;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
  border: 2px solid #fff;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.18);
}
.summary-top h1 {
  color: #1060AA;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.summary-top h1 i {
  font-size: 15px;
  margin-top: 7px;
}
.summary-top p {
  color: #5b5f63;
  font-size: 13px;
  margin: 0px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.summary-box {
  border-radius: 5px;
  border: 2px solid #FFF;
  background: #E4FFE9;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.18);
  padding: 0px 12px;
  text-align: center;
}
.summary-box h1 {
  color: #1060AA;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 2px;
}
.summary-box h1 i {
  font-size: 15px;
  margin-top: 7px;
}
.summary-box p {
  color: #3b3a3a;
  font-size: 12px;
  margin: 0px;
  font-weight: 500;
}
.summary-box .summary-item {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.summary-box .summary-item:last-child {
  border-bottom: none;
}

.summary-item .summary-item .amount {
  font-size: 26px;
  font-weight: bold;
  color: #00b050;
}

.summary-item .label {
  font-size: 13px;
  color: #333;
}/*# sourceMappingURL=dashboard.css.map */