@import '../../css/variables/variables.scss';

body {
    margin: 0;
    background-image: url("../../images/solar-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background: linear-gradient(rgba(16, 96, 170, 0.86),
            rgba(16, 96, 170, 0.86)),
        url("../../images/dashboard/Header_bg.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0px;
        width: 100%;
        height: 6px;
        background-color: #007b43;
    }

    .logo {
        display: flex;
        align-items: center;
        border-radius: 5px;

        img {
            width: 170px;
        }
    }

    .right-section {
        display: flex;
        align-items: center;
        gap: 10px;

        .user-info {
            p {
                color: #fff;
                font-size: 13px;
                margin: 0px;
                text-align: right;

                span {
                    font-weight: 700;
                    font-size: 12px;
                }
            }

        }

        .icons {
            display: flex;
            align-items: center;
            gap: 10px;

            i {
                color: #fff;
            }

            .fa-user {
                background: linear-gradient(to bottom, #80c3ff, #0a68bb);
                padding: 10px;
                border-radius: 50%;
            }
        }
    }
}

.main {
    max-height: calc(100vh - 90px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto 240px;
    gap: 15px;
    padding: 0px 10px 0px 10px;

    .left {
        max-height: calc(100vh - 90px);

        .accordion-item {
            box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.17);
            border-radius: 10px;

            .accordion-body {
                padding: 12px;

                .list-group {
                    li {
                        list-style-type: none;
                        padding: 0px 0px 10px 0px;
                        display: flex;
                        justify-content: space-between;
                        font-weight: 600;
                        color: #545253;

                        span {
                            font-weight: normal;
                        }

                        &:last-child {
                            background-color: $light-green;
                            padding: 7px 10px;
                            border-radius: 5px;
                        }
                    }

                    &.EMI {
                        li {
                            &:last-child {
                                background-color: #fff !important;
                                padding: 0px !important;
                            }
                        }
                    }

                }


            }



            .accordion-button {
                background: #fff;
                color: #1060AA;
                font-weight: 700;
                border-radius: 10px 10px 0px 0px;

                &::after {
                    color: #1060AA;
                }

                &:not(.collapsed) {
                    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #1060aa;
                }

                .status {
                    color: #00b050;
                }
            }
        }

        .consumer-details {
            display: grid;
            grid-template-columns: auto auto auto auto 200px;

            strong {
                color: #545253;
            }
        }
    }

    .right {
        border-radius: 10px;
        background: linear-gradient(174deg, var(--Blue, #1060AA) 2.56%, var(--Green, #10AA2D) 92.99%);
        position: sticky;
        top: 0px
    }
}



.consumer-card {
    padding: 10px;
    height: 170px;
    border: 1px solid #ddd;

}

.consumer-card table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

.consumer-card td {
    padding: 2px 5px;
}

.consumer-card td strong {
    font-weight: bold;
}

.consumer-card hr {
    margin: 5px 0;
}

.consumer-card .status {
    color: green;
    font-size: 14px;
}

.consumer-card .arrow {
    font-size: 16px;
    cursor: pointer;
}

.solar-detailcard,
.monthly-billsaving-card,
.excess-card,
.emi-card {
    height: 340px;
    padding: 10px;
    margin: 5px 0;

}

.solar-detailcard table,
.monthly-billsaving-card table,
.excess-card table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

.edit-btn {
    background: #e6f0ff;
    border: none;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.highlight-green {
    background: #d9f7d9;
    padding: 8px;
    font-weight: bold;
    margin-top: 8px;
}


.summary-cards {
    // height: 700px;
    padding: 15px;
    border-radius: 10px;
    // background: linear-gradient(174deg, var(--Blue, #1060AA) 2.56%, var(--Green, #10AA2D) 92.99%);
}

.summary-top {
    background: $light-green;
    color: white;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.18);

    h1 {
        color: $primary-color;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        gap: 5px;

        i {
            font-size: 15px;
            margin-top: 7px;
        }
    }

    p {
        color: #5b5f63;
        font-size: 13px;
        margin: 0px;
        font-weight: 700;
        letter-spacing: 0.3px;
    }
}

.summary-box {
    border-radius: 5px;
    border: 2px solid #FFF;
    background: #E4FFE9;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.18);
    padding: 0px 12px;
    text-align: center;

    h1 {
        color: $primary-color;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-bottom: 2px;

        i {
            font-size: 15px;
            margin-top: 7px;
        }
    }

    p {
        color: #575656;
        font-size: 12px;
        margin: 0px;
        font-weight: 500;
    }

    .summary-item {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: none;
        }
    }
}



.summary-item .summary-item .amount {
    font-size: 26px;
    font-weight: bold;
    color: #00b050;
}

.summary-item .label {
    font-size: 13px;
    color: #333;
}