/*------------------- Responsive --------------------------*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../../images/solar-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  background: linear-gradient(rgba(16, 96, 170, 0.86), rgba(16, 96, 170, 0.86)), url("../../images/dashboard/Header_bg.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0px;
  width: 100%;
  height: 6px;
  background-color: #007b43;
}
header .logo {
  display: flex;
  align-items: center;
  border-radius: 5px;
}
header .logo img {
  width: 170px;
}
header .right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .right-section .user-info p {
  color: #fff;
  font-size: 13px;
  margin: 0px;
  text-align: right;
}
header .right-section .user-info p span {
  font-weight: 700;
  font-size: 12px;
}
header .right-section .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .right-section .icons i {
  color: #fff;
}
header .right-section .icons .fa-user {
  background: linear-gradient(to bottom, #80c3ff, #0a68bb);
  padding: 10px;
  border-radius: 50%;
}

.main {
  max-height: calc(100vh - 90px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto 215px;
  gap: 15px;
  padding: 0px 10px 0px 10px;
}
.main .left {
  max-height: calc(100vh - 90px);
}
.main .left .accordion-item {
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.17);
  border-radius: 10px;
}
.main .left .accordion-item .accordion-button {
  background: #fff;
  color: #1060AA;
  font-weight: 700;
  border-radius: 10px 10px 0px 0px;
}
.main .left .accordion-item .accordion-button::after {
  color: #1060AA;
}
.main .left .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #1060aa;
}
.main .left .accordion-item .accordion-button .status {
  color: #00b050;
}
.main .right {
  border-radius: 10px;
  background: linear-gradient(174deg, var(--Blue, #1060AA) 2.56%, var(--Green, #10AA2D) 92.99%);
  position: sticky;
  top: 0px;
}

.consumer-card {
  padding: 10px;
  height: 170px;
  border: 1px solid #ddd;
}

.consumer-card table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.consumer-card td {
  padding: 2px 5px;
}

.consumer-card td strong {
  font-weight: bold;
}

.consumer-card hr {
  margin: 5px 0;
}

.consumer-card .status {
  color: green;
  font-size: 14px;
}

.consumer-card .arrow {
  font-size: 16px;
  cursor: pointer;
}

.solar-detailcard,
.monthly-billsaving-card,
.excess-card,
.emi-card {
  height: 340px;
  padding: 10px;
  margin: 5px 0;
}

.solar-detailcard table,
.monthly-billsaving-card table,
.excess-card table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.edit-btn {
  background: #e6f0ff;
  border: none;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.highlight-green {
  background: #d9f7d9;
  padding: 8px;
  font-weight: bold;
  margin-top: 8px;
}

.summary-cards {
  padding: 15px;
  border-radius: 10px;
}

.summary-top {
  background: linear-gradient(to bottom, #00b050, #007b43);
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 15px;
  border: 2px solid #00b050;
}

.summary-top .amount {
  font-size: 32px;
  font-weight: bold;
}

.summary-top .label {
  font-size: 14px;
}

.summary-box.combined {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #00b050;
}

.summary-box.combined {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #00b050;
}

.summary-item {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.summary-item:last-child {
  border-bottom: none;
}

.summary-item .amount {
  font-size: 26px;
  font-weight: bold;
  color: #00b050;
}

.summary-item .label {
  font-size: 13px;
  color: #333;
}/*# sourceMappingURL=dashboard.css.map */