/*------------------- Responsive --------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: #1060AA;
}

body,
html {
  height: 100%;
}

.main-container {
  display: grid;
  grid-template-columns: 450px auto;
  height: 100vh;
  background-image: url("../../images/solar-bg.webp");
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 767px) {
  .main-container {
    grid-template-rows: 200px auto;
    grid-template-columns: auto;
  }
}
.main-container .left-panel {
  position: relative;
  flex: 0 0 30%;
  z-index: 3333;
}
@media (max-width: 767px) {
  .main-container .left-panel {
    background: url("../../images/login/solar_panel_installation.png") no-repeat center center;
    clip-path: none;
    background-size: cover;
  }
}
.main-container .left-panel img {
  height: 100vh;
}
@media (max-width: 767px) {
  .main-container .left-panel img {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-container .left-panel::before {
    content: "";
    position: absolute;
    top: 186px;
    width: 100%;
    height: 7px;
    right: 0px;
    transform: none;
    box-shadow: 0px 0px 0px 7px #f5f5f5;
    background-color: #10AA2D;
    z-index: 2222222;
  }
}
@media (max-width: 767px) {
  .main-container .left-panel::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(209, 83%, 36%, 0.785);
    z-index: 1;
  }
}
.main-container .left-panel .overlay {
  position: absolute;
  top: 0;
  right: -5px;
  width: 5px;
  height: 100%;
  background-color: green;
}
.main-container .right-panel .solar-panel {
  position: absolute;
  top: 50%;
  left: 188px;
  transform: translateY(-50%);
  z-index: 11;
  width: 424px;
}
@media (max-width: 767px) {
  .main-container .right-panel .solar-panel {
    display: none;
  }
}
.main-container .right-panel .content {
  height: 100%;
  display: grid;
  align-content: center;
  transform-origin: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  z-index: 333333;
}
@media (max-width: 767px) {
  .main-container .right-panel .content {
    padding: 30px;
  }
}
.main-container .right-panel .content .input_div {
  display: grid;
}
.main-container .right-panel .content .input_div input {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #1060AA;
  font-size: 17px;
  background-color: white;
  box-shadow: 2px 2px 0px 0px rgba(43, 40, 40, 0.1803921569);
}
.main-container .right-panel .content .input_div .information {
  font-size: 14px;
  margin-top: 5px;
}
.main-container .right-panel .content .logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .right-panel .content .logo-text img {
  width: 377px;
}
.main-container .right-panel .content a:not(.back) {
  display: block;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #1060AA;
  font-size: 17px;
  cursor: pointer;
  background-color: white;
  box-shadow: 2px 2px 0px 0px rgba(43, 40, 40, 0.1803921569);
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}
.main-container .right-panel .content a:not(.back):hover {
  background-color: #1060AA;
  color: white;
}
.main-container .right-panel .content a:not(.back).enterCAnum {
  cursor: text;
}
.main-container .right-panel .content a:not(.back).enterCAnum:hover {
  background-color: white;
  color: inherit;
}
.main-container .right-panel .content a:not(.back).Validate {
  background-color: #1060AA;
  color: white;
  text-align: center;
}
.main-container .right-panel .content a:not(.back).Validate:hover {
  background-color: #0d4c86;
  color: white;
}
.main-container .right-panel .content.content_validate {
  gap: 25px;
}
.main-container .right-panel .content.content_validate a,
.main-container .right-panel .content.content_validate input {
  padding: 18px;
}
.main-container .right-panel .content.content_validate .back {
  text-align: center;
  text-decoration: none;
  padding: 0px;
  font-weight: 700;
}/*# sourceMappingURL=login.css.map */